/node_modules/
/android/
/www/
/.idea/
/documentation/

/Readme2.md
/e2e/
/.github/
/capacitor.config.ts
/.eslintrc.json
/.browserslistrc
/.editorconfig
/capacitor.config.ts
/package-lock.json
/tsconfig.doc.json
/src/app/services/request/request-user-service.service.ts
/src/app/services/response/user-response.ts
