/node_modules/
/android/


!android/
android/*
!android/build/
android/build/*
!android/build/outputs/
android/build/outputs/*
!android/build/outputs/apk/
android/build/outputs/apk/*
!android/build/outputs/apk/debug/

/www/
/.idea/
/documentation/


/Readme2.md
/e2e/
/.github/
/capacitor.config.ts
/.eslintrc.json
/.browserslistrc
/.editorconfig
/capacitor.config.ts
/package-lock.json
/tsconfig.doc.json
/request-user-service.service.ts
/user-response.ts
