<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Consultant map</ion-card-subtitle>
        <ion-card-title>Google map</ion-card-title>
    </ion-card-header>
    <ion-item *ngIf="hideGetPositionOptionForClient" (click)="getLocation()">Get your current position</ion-item>
    <ion-item (click)="checkAllConsultant()">Check consultants position on map</ion-item>
    <ion-card>

        <div>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng">
                    <agm-info-window [disableAutoPan]="true">
                        Here is your position
                    </agm-info-window>
                </agm-marker>
                <div *ngIf="checkConsultantOnMap">
                    <div *ngFor="let consultant of consultants">
                        <agm-marker [latitude]="consultant.lat" [longitude]="consultant.lng">
                            <agm-info-window [disableAutoPan]="true">
                                Consultant:  {{consultant.firstName}} {{consultant.lastName}}<br> <strong>
                                email: {{consultant.email}}</strong>
                            </agm-info-window>
                        </agm-marker>
                    </div>
                </div>
            </agm-map>
        </div>
    </ion-card>
    <ion-card-content>
        The map displays the various users. Click on a marker to obtain user information.
    </ion-card-content>
    <div id="consultantLatLng">{{lat}},{{lng}}</div>
    <div id="consultant_city_street_cap">{{city}},{{street}},{{cap}}</div>
</ion-card>