<ion-header>
  <ion-toolbar>
    <ion-title>Select consultant</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div style="width: 60%"> <!--attraverso la specifica di width: 50%, verrà occupato meta dello spazio relativo allo spazio di ion-col-->
          <br/>
          <ion-item  (click)="retriveUsers()">Click to show consultants available</ion-item>
          <div *ngIf="showUser==true">
            <div *ngFor="let item of listElements">
              <ul class="list-group">
                <li class="list-group-item">
                  <br/>
                  UserName: {{item.userName}}
                  <ion-button expand="block" fill="outline" (click)="loadAppointments(item.id)">clicca per selezionare consulente</ion-button>
                </li>
                <li class="list-group-item">
                  <br/>
                  Nome: {{item.firstName}}
                </li>
                <li class="list-group-item">
                  <br/>
                  Email: {{item.lastName}}
                </li>
                <li class="list-group-item" *ngFor="let appointment of item.appointments">
                  <br/>
                  appuntamento:
                  <br/>
                  <ul class="list-group">
                    <li class="list-group-item">
                      {{appointment}}
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="close()">Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
