<div style="width: 60%"> <!--attraverso la specifica di width: 50%, verrà occupato meta dello spazio relativo allo spazio di ion-col-->
  <br/>
  <p>In this section you can Log-in in the account.
    Select the category you are:
  </p>
  <br/>
  <p>
  Costumer or a Commercialist
  </p>
  <ion-item padding="10%" (click)="openLogInDialog()">
   Click to Log-in
  </ion-item>
  <div>
    <div *ngIf="collapsedLogIn">
      <app-log-in></app-log-in>
      <br/>
    </div>
  </div>
  <br/>
  <br/>
  <p>In this section you can Register a new account, in order to offer or use the service of commercialist
  </p>
  <br/>
  <ion-item  padding="10%" (click)="openRegisterDialog()">
    Click to Register new account
  </ion-item>
  <div *ngIf="collapsedRegister">
    <br/>
    <app-register></app-register>
  </div>
</div>
