<div style="width: 60%"> <!--attraverso la specifica di width: 50%, verrà occupato meta dello spazio relativo allo spazio di ion-col-->

  <ion-item padding="10%" (click)="openLogInDialog()">
   Click to Log-in
  </ion-item>
  <div>
    <div *ngIf="collapsedLogIn">
      <app-log-in></app-log-in>
      <br/>
    </div>
  </div>

  <ion-item  padding="10%" (click)="openRegisterDialog()">
    Click to Register new account
  </ion-item>
  <div *ngIf="collapsedRegister">
    <br/>
    <app-register></app-register>
  </div>
</div>
