<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Consultant list</ion-card-subtitle>
  </ion-card-header>
<div>
  <div *ngFor="let item of listElements">
    <ion-card>
    <ul class="list-group">
      <li class="list-group-item">
        <br/>
        Nome: {{item.firstName}}
      </li>
      <li class="list-group-item">
        <br/>
        Email: {{item.lastName}}
      </li>
      <li class="list-group-item">
        <br/>
        City: {{item.city}}   street: {{item.street}}   cap: {{item.cap}}
      </li>
    </ul>
    </ion-card>
  </div>
</div>
</ion-card>
