<ion-content>
    <ion-fab slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button value='facebook' (click)="share($event)">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button value='instagram' (click)="share($event)">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
            <ion-fab-button value='whatsapp' (click)="share($event)">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button value='twitter' (click)="share($event)">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>